.header-nav-list {
    display: flex;
}

.header-nav-item {
    list-style: none;
    padding: 0 25px;
}

.header-nav-item a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.ttl {
    position: relative;
    text-align: center;
    padding-top: 100px;
}

.ttl-users {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
}

.ttl-user {
    font-size: 25px;
    font-weight: 400
}

.search-users {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.search-users__form {
    display: flex;
    padding-top: 100px;
    margin-right: 50px;
}

.search-users__input {
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #ddd;
    width: 270px;
    margin-right: 5px;
}

.search-users__submit {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #3131ec;
    border-radius: 3px;
    color: white;
    border: none;
    cursor: pointer;
}

.search-users__submit:hover {
    background-color: #9595f7;
}

.table {
    padding: 10px 50px;
}

.table-user {
    margin-top: 10px;
    border-collapse: collapse;
}

.table-user__row {
    text-align: center;
    margin: 0 auto;
}

.table-user__ttl {
    border-top: 1px solid #8d8b8b;
    border-bottom: 1px solid #8d8b8b;
    padding: 30px 100px;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}

.table-user__detail {
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid #8d8b8b;
    padding: 30px 0;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
}

.pagination a,
.pagination span {
    border: 0.5px solid #bfbcbc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    background: #ffffff;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
}

.pagination .active span {
    font-weight: bold;
    color: #fff;
    background: #3131ec;
}

.pagination li {
    list-style-type: none;
}

.pagination a:hover {
    background: #9595f7;
    color: #ffffff;
}
